<!DOCTYPE html>
<html ng-app="movieSearch">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <base href="/"/>
  </head>
  <body>

  <article class="page-header">
    <h1 class="text-center">Welcome to OMDB Movie Search</h1>
  </article>

  <section class="container">
    <form class="form-group" ng-model="searchingMovie" name="searchingMovie">
      <label for="searchingMovie">Enter a movie title</label>
      <input type="text" class="form-control" id="search" name="searchingMovie" ng-model="home.movie" placeholder="Title of Movie"><br>
      <button class="btn-group-justified btn btn-primary" type="submit" ui-sref="search({ id: home.movie })">
      Search <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>

    <div ui-view> </div>
  </section>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
    <script src="app/controllers/controller.js" charset="utf-8"></script>
  </body>
</html>
